<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1> Upload you student identity Photo - Insert your picture</h1>

<h4> Instructions:-  Make sure the picture is of passport-type specification</h4>
<br>

<form method="POST" action="/uploadfile" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>

<br>
<h4> Instructions:-  Make sure the picture is of passport-type specification</h4>
<br>
</body>
</html>